<div class="card">
  <div class="card-header bg-light">
    <h5 class="text-info" > Welcome Aswin Sampath</h5>
  </div>
  <div class="card-body bg-light">
    <p-table [value]="employees" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            List of Employees
        </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-emp>
        <tr>
          <td *ngFor="let col of cols">
            <div [ngSwitch]="col.field">
              <div *ngSwitchCase="'birthDate'">
                {{emp[col.field] | date:'mediumDate'}}
              </div>
              <div *ngSwitchDefault>
                {{emp[col.field]}}
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>