<div class="card">
  <div class="card-header bg-light">
    <h5 class="text-info"> Welcome Aswin Sampath</h5>
  </div>
  <div class="card-body bg-light">
    <p-table [value]="employees" selectionMode="single" [(selection)]="employee" [paginator]="true" (onRowSelect)="onEmployeeSelect($event)"
      [rows]="10" dataKey="businessEntityID">
      <ng-template pTemplate="caption">
        List of Employees
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-emp>
        <tr [pSelectableRow]="emp">
          <td *ngFor="let col of cols">
            <div [ngSwitch]="col.field">
              <div *ngSwitchCase="'birthDate'">
                {{emp[col.field] | date:'mediumDate'}}
              </div>
              <div *ngSwitchDefault>
                {{emp[col.field]}}
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="card-footer bg-light">
    <button type="button" pButton icon="pi pi-plus" label="Add" (click)="onAddEmployee()"></button>
  </div>
  <p-dialog [header]="dialogHeader" [(visible)]="showEmployeeDialog" modal="true" responsive="true" [width]="600"
    [minWidth]="200" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <app-employee-detail [employeeDetail]="employee" (saveEmployeeDetail)="saveEmployeeDetail($event)"
      (cancelEmployeeDetail)="cancelEmployeeDetail($event)">
    </app-employee-detail>
  </p-dialog>
</div>
<div>{{employee?.firstName}}</div>